/*------------Cust style------------*/
a, p {
    cursor: pointer;
}

.roadCont {
    width: 414px !important;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.cust-header {
    background: #405768;
    text-align: center;
}

    .cust-header p {
        color:rgba(255,255,255,0.7); 
        font-size:24px;
    }

.cust-table, th, td {
    margin: 50px auto !important;
    width: 650px !important;
    border: 1px solid rgba(95,90,90,0.7) !important;
}

    .cust-table th {
        background: #bad6fc;
    }

    .cust-table td {
        background: #e2eff3;
    }

.cust-footer {
    padding-top: 30px !important;
    margin: 0 auto;
    text-align: center;
    background: #2c2c33;
    color: rgba(255,255,255,0.6);
    position: fixed;
    overflow: hidden;
    width: 100%;
    bottom: 0;
}
/*------------Cust style------------*/
/*----------File tree---------*/
.Container {
    padding: 0;
    margin: 0;
}

    .Container li {
        list-style-type: none;
    }

.Node {
    background-image: url(img/i.gif);
    background-position: top left;
    background-repeat: repeat-y;
    margin-left: 18px;
    zoom: 1;
}

.IsRoot {
    margin-left: 0;
}

.IsLast {
    background-image: url(img/i_half.gif);
    background-repeat: no-repeat;
}

.ExpandOpen .Expand {
    background-image: url(img/open.gif);
}

.ExpandClosed .Expand {
    background-image: url(img/closed.gif);
}

.ExpandLeaf .Expand {
    background-image: url(img/document.gif);
}

.Content {
    min-height: 18px;
    margin-left: 18px;
}

* html .Content {
    height: 18px;
}

.Expand {
    width: 18px;
    height: 18px;
    float: left;
}


.ExpandLoading {
    width: 18px;
    height: 18px;
    float: left;
    background-image: url(img/expand_loading.gif);
}

.ExpandOpen .Container {
    display: block;
}

.ExpandClosed .Container {
    display: none;
}

.ExpandOpen .Expand, .ExpandClosed .Expand {
    cursor: pointer;
}

.ExpandLeaf .Expand {
    cursor: auto;
}
/*----------File tree---------*/

